<% @title = "ログインフォーム" %>
<h1><%= @title %></h1>
<%= render 'layouts/flash_messages' %>

<div id="login-form">
  <h1><%= @title %></h1>

  <%= form_with model: @form, url: :admin_session do |f| %>
    <div>
      <%= f.label :manager_number, "管理者番号" %>
      <%= f.text_field :manager_number %>
    </div>
    <div>
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.submit "ログイン" %>
    </div>
  <% end %>
</div>
