<% @title = "お客様管理" %>
<h1><%= @title %></h1>
<%= render 'layouts/flash_messages' %>

<div class="table-wrapper">
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th>氏名</th>
        <th>フリガナ</th>
        <th>メールアドレス</th>
        <th>登録日</th>
        <th>停止フラグ</th>
        <th>アクション</th>
      </tr>
    <% @app_users.each do |m| %>
      <% p = AppUserPresenter.new(m, self) %>
      <tr>
        <td><%= p.full_name %></td>
        <td><%= p.full_name_kana %></td>
        <td class="email"><%= m.email %></td>
        <td class="date"><%= m.created_at.strftime("%Y/%m/%d") %></td>
        <td class="boolean"><%= p.suspended_mark %></td>
        <td class="actions">
          <%= link_to "アカウント", [ :admin, m ], method: :get %> |
          <%= link_to "勉強の記録", [ :admin, m, :records ] %> |
          <%= link_to "削除", [ :admin, m ], method: :delete,
            data: { confirm: "本当に削除しますか？" } %>
        </td>
      </tr>
    <% end %>
    </thead>
  </table>
  <%= paginate @app_users %>
</div>
