<% @title = "アカウント情報" %>
<h1><%= @title %></h1>

<div class="table-wrapper" id="account">
  <div class="links">
    <%= link_to "アカウント情報編集", :edit_admin_app_user %>
  </div>
  <table class="attributes">
    <tr><th colspan="2">アカウント情報</th></tr>
    <% p1 = AppUserPresenter.new(@app_user, self) %>
    <tr><th>氏名</th><td><%= p1.full_name %></td></tr>
    <tr><th>フリガナ</th><td><%= p1.full_name_kana %></td></tr>
    <tr><th>ニックネーム</th><td><%= @app_user.nickname %></td></tr>
    <tr><th>メールアドレス</th><td class="email"><%= @app_user.email %></td></tr>
    <tr><th>性別</th><td><%= p1.gender %></td></tr>
    <tr><th>生年月日</th><td class="date"><%= p1.birthday %></td></tr>
    <tr><th>都道府県</th><td><%= @app_user.prefecture %></td></tr>
    <tr><th>勉強の目標</th><td><%= @app_user.target %></td></tr>
    <tr><th>サービス利用開始日</th><td class="date"><%= @app_user.created_at.strftime("%Y/%m/%d") %></td></tr>
  </table>
</div>
